<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <form action="" class="form-register">
        <label for="nombreCompleto">Datos personales</label>
        <input type="text" name="nombre" placeholder="Nombre Y Apellido">         
        <input type="text" name="nick-name"  placeholder="Nombre de usuario">         
        <label for="fechaNacimiento">Fecha de nacimiento</label>         
        <input type="date" name="fecha-nacimiento">         
        <input type="text" name="domicilo" placeholder="Domicilio">
        <input type="email" name="email" placeholder="E-mail">
        <p>Perfil de usuario</p>
            <div class="input-radio">
                <input type="radio" name="perfil-usuario" value="Comprador">
                <label for="perfil-usuario">Comprador</label>
                <input type="radio" name="perfil-usuario" value="Vendedor">
                <label for="perfil-usuario">Vendedor</label>
            </div>
        <label for="interes" class="label-categorias">Categorias de interés</label>
        <div class="input-checkbox">
            <div class="div-checkbox">
                <input type="checkbox" name="interes" value="Electro">
                <p>Electro</p>
            </div>
            <div class="div-checkbox">
                <input type="checkbox" name="interes" value="Moda">
                <p>Moda</p>
            </div>
            <div class="div-checkbox">
                <input type="checkbox" name="interes" value="Hogar">
                <p>Hogar</p>
            </div>
            <div class="div-checkbox">
                <input type="checkbox" name="interes" value="Juguetería">
                <p>Juguetería</p>
            </div>
            <div class="div-checkbox">
                <input type="checkbox" name="interes" value="Vida sana">
                <p>vida sana</p>
            </div>
        </div>
        <label for="foto">Foto de usuario</label>
        <input type="file" name="foto" id="foto">
        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" placeholder="Escriba su contraseña">
        <label for="password">Confirmar Contraseña</label>
        <input type="password" name="confirmar-contraseña" placeholder="Escriba nuevamente su contraseña">
        <button type="reset" class="button-register">Borrar</button>
        <button type="menu" class="button-register">Enviar</button>
    </form>
</body>
</html>